pip
setuptools
seaborn
jupyterlab
jupyter-core
notebook
# lime
opencv-python
pydot
scipy
numpy
requests
matplotlib
pandas
pandas-profiling
scikit-learn=1.2
# spacy
# rasa
# nltk
# textblob
tensorflow
keras
scipy
# flask
# rasa-x -i https://pypi.rasa.com/simple
